<div class="date-container">
    <form #submit (submit)="checkWeather()">    
        <div class="sDate">
            <label for="startdate"></label>
            <input type="date" name="startDate" [(ngModel)]="startDate" placeholder="startdate">    
        </div>
        <div class="eDate">
            <label for="enddate"></label>
            <input type="date" name="endDate" [(ngModel)]="endDate" placeholder="enddate">
        </div>
        <button type="submit">Check Weather</button>
    </form>
    <div class="display-forecast-container" *ngIf="forecastData.length > 0">
        <div class="box"  *ngFor="let day of forecastData; let i = index">
                <h3>{{ day.daily.time[i] }}</h3>
                <p>{{ day.daily.temperature_2m_max[i] }} / {{ day.daily.temperature_2m_min[i] }}</p>
        </div>
    </div>
</div>

