
<h3 class="tab">Right Now</h3>
<div class="display-container" *ngIf="weatherDetails && cityDetails">
    
        <div class="weather description"><h3>Today</h3>
            <div class="date">{{date | date}}</div>
            <div class="img daily-cal"></div>
        </div>
        <div class="weather"><h3>Sunrise / Sunset:</h3> {{weatherDetails?.daily?.sunrise[0] | timeFormat}} AM / {{weatherDetails?.daily?.sunset[0] | timeFormat}} PM
            <span > 🌅 / 🌇 </span> </div>
        <div class="weather"><h3>Weather Code:</h3> <div>{{weatherDetails?.current_weather?.weathercode}}</div>
         <div style="text-align: center;">(
         {{ getWeatherDescription(weatherDetails.current_weather.weathercode) }}
         )</div>
         </div>
    
  
            <div class="weather"><h3>Wind Speed:</h3> {{weatherDetails?.current_weather?.windspeed }} km/h
                <span>༄</span>
            </div>
            <div class="weather"><h3>Wind Direction:</h3> {{weatherDetails?.current_weather?.winddirection}}</div>
            <div class="weather"><h3>Humidity:</h3> {{weatherDetails?.hourly?.relativehumidity_2m[0]}} % 
             <span>💧</span>
            </div>
            <div class="weather"><h3>Cloud Cover:</h3> {{weatherDetails?.hourly?.cloudcover_high[0]}} % 
                <span class="cloud"></span>
            </div>
            <div class="weather"><h3>UV Index:</h3> {{weatherDetails?.daily?.uv_index_max[0]}}  
                <span class="uvindex"></span>
            </div>
            <div class="weather"><h3>precipitation Rain:</h3> {{weatherDetails?.daily?.precipitation_sum[0]}} mm 
                <span>☔</span>
            </div>
    </div>      

<div class="mob-container" *ngIf="weatherDetails">
        <h3>Today</h3>
   
        <div class="mob-date">{{date | date:"medium"}}</div><br>
        <div class="mob-cloud">
            <img classs="icon sun"  
                *ngIf="weatherDetails?.current_weather?.temperature >= 25" 
                src="https://img.icons8.com/emoji/sun-emoji.png" alt="sun-emoji" value="sunny"/>
            <img class="icon cloud"  
                *ngIf="weatherDetails?.current_weather?.temperature < 25 && weatherDetails?.current_weather?.temperature >= 15" 
                src="https://img.icons8.com/external-justicon-flat-justicon/external-cloud-weather-justicon-flat-justicon-1.png" alt="external-cloud-weather-justicon-flat-justicon-1"/>
            <img class="icon rain" width="88" height="88"  *ngIf="weatherDetails?.current_weather?.temperature < 15" 
                src="../assets/background-images/rainythunder.png" alt="Rainy" value="Rainy">
        <p class="temp"> {{ weatherDetails?.current_weather?.temperature}}°C</p>

        </div>
        
        <div id="details">
            <p><span> 🌅 </span> Sunrise: {{weatherDetails?.daily?.sunrise[0] | timeFormat}} AM  </p>
            <p><span> 🌇 </span> Sunset: {{weatherDetails?.daily?.sunset[0] | timeFormat}} PM</p>
            <p><span> ༄ </span> Wind Speed: {{weatherDetails?.current_weather?.windspeed }} km/h</p>
            <p><span> 🎐 </span>Wind Direction: {{weatherDetails?.current_weather?.winddirection}}</p>
            <p><span> ☔ </span>Rain precipitation: {{weatherDetails?.daily?.precipitation_sum[0]}} mm</p>
            <p><span> 💧 </span> Humidity: {{weatherDetails?.hourly?.relativehumidity_2m[0]}}</p>
            <p><span> ⛅ </span> Cloud Coverage:  {{weatherDetails?.hourly?.cloudcover_high[0]}} %</p>
        </div>
    
</div>

  