<div class="app-container">
  <div id="menu">
    <div class="top">
      <h3>Menu</h3>
    </div>
    <div class="bottom">
      <div class="menu" routerLinkActive="active"><a routerLink="/home"> Home </a></div><hr>
      <div class="menu sDays" routerLinkActive="active"><a routerLink="/7daysForecast"> 7-days Forecast</a></div><hr>
      <div class="menu FDays" routerLinkActive="active"><a routerLink="/14daysForecast"> 14-days Forecast</a></div><hr>
      <div class="menu map" routerLinkActive="active"><a routerLink="/map">Map</a></div><hr>
      <div class="menu chart" routerLinkActive="active"><a routerLink="/chart">Chart</a></div><hr>
    </div>
  </div>
  <div id="content">
    <div id="navigation">
      <app-navigation></app-navigation>
    </div>
    <div id="main">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
