<div class="app-container">
  <div id="menu">
    <div class="top">
      Menu
    </div>
    <div class="bottom">
      <div class="menu" routerLinkActive="active"><a routerLink="/home"> Home </a></div><hr>
      <div class="menu sDays" routerLinkActive="active"><a routerLink="/7daysForecast"> 7-days Forecast</a></div><hr>
      <div class="menu FDays" routerLinkActive="active"><a routerLink="/14daysForecast"> 14-days Forecast</a></div><hr>
      
      <div class="menu map"><a href="/map">Map</a></div><hr>
      <div class="menu chart"><a href="/chart">Chart</a></div><hr>

    </div>
  </div>
  <div id="content">
    <div id="navigation">
      <app-navigation></app-navigation>
    </div>
    <div id="main">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>




















<!-- <div class="app-container">
  <div id="menu">
    <div class="top">Menu</div>
    <div class="bottom">
      
    </div>
  </div>
  <div id="content">
    <div id="navigation">
      <app-navigation></app-navigation>
    </div>
    <div id="main">
      <app-daily-weather></app-daily-weather> 
      
    </div>
  </div>
  
 
</div> -->

<!-- <app-days-forecast></app-days-forecast> -->
      <!-- <app-map></app-map> -->
    <!-- <app-chart></app-chart> -->
 <!-- <app-custom-date></app-custom-date> -->
  <!-- <app-days-forecast></app-days-forecast> -->