
.cast-container{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.cast{
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    row-gap:5px;
    border:2px solid rebeccapurple;
    border-radius: 15px;
}
.current-date{
    height: 250px;
    padding-top:20px;
    position:relative;
    top: -17px;
}
.mob-cloud{
    width: 100%;
    background-color: rgb(117, 210, 247);
}
img{
    width: 20px;
    height: 20px;
}
.high-temp, .low-temp{ 
    width: 50px;
    background-color: red;
    border-radius:3px;
    box-shadow:2px 2px 2px grey;
}
.low-temp{ 
    background-color: orange;
}
.humidity, .uvIndex, .precipitation, .windspeed{
    display: flex;
    justify-content: center; 
    gap:2px;
}

@media (max-width:768px) {
    .cast-container{
        display: flex;
        flex-wrap: wrap;
        column-gap:10px;
        justify-content: center;
        padding-top:10px;
        
    }
    .current-date{
        height: 210px;
        padding-top:0px;
        position:relative;
        top: 0;
    }
    .cast{
        width: 130px;
        height: 210px;
        font-size: 13px;
        border-radius: 10px;
    }
    
}
@media (max-width:500px) {
    
    .cast-container{
        display: flex;
        flex-direction: column;
        gap:10px;
        padding-top: 10px;
    }
    .cast{
        width: 350px;
        height: 80px;
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    span{
        display: none;
    }
    .mob-cloud{
        display: none;
    }
    
    
}