/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden ; }

.app-container #main{
    position: relative;
}


@media(max-width:400px){
    body{
    }
    app-navigation .menu-icon:focus~.app-container #menu{
        display: block;
    }
}
